:root{
	--my-red: red;
	--header-red: #ffd8d8;
	--my-background-color: black;	
	--glow-effect:
  .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, 
  .1vw 0vw   0vw #f25757, .2vw 0vw   0vw #f25757, .4vw 0vw   0vw #f25757,
  .1vw 0vw  .1vw #f25757, .2vw 0vw  .1vw #f25757, .4vw 0vw  .1vw #f25757,
  .1vw 0vw   2vw #f25757, .2vw 0vw   2vw #f25757, .4vw 0vw   2vw #f25757, 
  .1vw 0vw   1vw #e50b0b, .2vw 0vw   1vw #e50b0b, .4vw 0vw   5vw #e50b0b, 
  .1vw 0vw   5vw #e50b0b, .2vw 0vw  20vw #e50b0b, .4vw 0vw  10vw #e50b0b,
  .1vw 0vw  10vw #e50b0b, .2vw 0vw  30vw #e50b0b, .4vw 0vw  10vw #e50b0b;
	--canvas-glow: 	.1vw 0vw   1vw #e50b0b, .2vw 0vw   1vw #e50b0b, .4vw 0vw   5vw #e50b0b;
}
.loginform{
	text-align: center;
	padding: 10px 10px;
}
.commenth1{
	margin-top: 3%;
}
.centerTheCanvas{
	
	margin-top: 2%;
	text-align: center;
	position: static;
}

.gameCanvas{
	box-shadow:var(--canvas-glow);	
	border-color: var(--header-red);
	border-style:solid;
	border-radius: 20px;
	left: 50%;
}

h1{
	position: static;
	font-size: 70px;
	color: var(--header-red);
	text-shadow: var(--glow-effect);
	font-family: 'Bungee Inline', cursive;
	font-size: 60px;
	text-align: center;	
}
body{
	background-color: var(--my-background-color);	
}
.button, .abutton {
	font-family: "Courier New", Courier, monospace;
  	text-align: center;
	background-color: black;
	background: none;
	color: white;
	text-decoration: none !important;
	border-style: none !important;
	appearance: none;
	font-size: 16px;
	border-radius: 30px;
}

.button:hover, .abutton:hover{
	background:none;
  color: white;
  cursor: pointer;
  text-shadow: var(--glow-effect);
}
.score{
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	color: white;
	position: relative;
}
.scoreBox{
	margin-top: -23%;
	margin-left: 4%;
}
.topnav {
	overflow: hidden;	
	background-color: black;
	font-family: "Courier New", Courier, monospace;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	list-style:none;
	margin-top: -5%;
}
.topnav li{
	display:inline-block;
}

.topnav a {
  float: left;
  color: var(--header-red);
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 17px;
  display:block;
}

.topnav a:hover {
  text-shadow: var(--glow-effect);
}
.table{
		border-style: none !important;
		width: 0%;
		margin: 0px auto;
}
td{
		font-family: "Courier New", Courier, monospace;
		color: var(--header-red);
		border-style: none !important;
		padding: 20px !important;
}
th{
		font-family: "Courier New", Courier, monospace;
		text-shadow: var(--canvas-glow);
		font-size: 20px;
	 	color: var(--header-red);
	 	border-style: none !important;
	 	text-decoration: underline;
}
.inputfield {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	text-align: center;
	border-radius:25px;
	padding: 10px 20px;
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	
}
.inputfield:hover{
	box-shadow: var(--canvas-glow);
}
.error{
	color:red;
	font-size: 13px;
}
.errortext{
	color:red;
	font-size: 18px;
}

p{
	color:white;
	font-size: 30px;
	text-align:center;
}
.buttondiv{
	margin-top: 0.25%;
	text-align: right;
	margin-right: 0.6%;
	position: Sticky;
}

.commentform{
	text-align:center;
	border-radius: 25px;
}
.textarea{
	border-radius: 20px;
	border-style: solid;
	text-align:center;
	font-family: "Courier New", Courier, monospace;
}
.checkDifficulty{
	text-align: right;
	margin-top: -30%;
	margin-right: 7%;
	
}

.radiocheck{
	 -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
	
}

.radiocheck:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.radiocheck:hover
{
     background-color: var(--header-red);
     box-shadow: var(--canvas-glow);
     
}
.form-radio:checked
{
     background-color: #f1f1f1;
}


label{
	display: block;
	color: white;
	font-family: "Courier New", Courier, monospace;
	position: relative;
	margin-top: 1%;
}
legend{
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
}
.startbutton{
    font-family: "Courier New", Courier, monospace;
    padding: 10px 20px;
  	text-align: center;
	border-style: solid;
	border-radius: 25px;	
	font-weight: bold;
	background-color: white;
	color: black;
	appearance: button;
	border-color: var(--header-red);
	border-style:solid;
	text-decoration: none !important;
	position: sticky;
	margin-top: 3%;
}
.startbutton:hover{
	cursor: pointer;
	box-shadow: var(--canvas-glow);
}
.userbuttondiv{
	text-align: right;
}
.gameh1{
	position: relative;
	margin-top: -1%;
}

.topnavdiv{
	margin-top: 6%;
}
.topnavdivleaderboard{
	margin-top: 10% !important;
}
.welcomeTopnav{
	margin: -1% auto;
}
.welcomeh1{
	font-size: 100px !important;
}
.dragbox{
	float: left; 
  width: 100px; 
  height: 35px;
  margin: 15px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.altercomment{
	position: relative;
	text-align: center;
	
}