<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>GamePro</title>
<link rel="icon" type="image/png" sizes="16x16"
	href="./images/favicon-16x16.png">
<link href="/css/styles.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee+Inline"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oxygen"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>Comments</h1>
<div class = "topnavdivleaderboard">
	<ul class="topnav">
		<li><a href="/">Front Page</a></li>
		<li><a href="/login">Log In</a></li>
		<li><a href="/game">The Game</a></li>
		<li><a href="/leaderboard">Leaderboard</a></li>
		<li><a href="/comments">Comments</a></li>
	</ul>
</div>	
		<table class="table">
		<tr>
			<th scope="col">Username</th>
			<th scope="col">Comment</th>
		</tr>
		<tr th:each="comments : ${comments}" class = "table">
			<td th:text="${comments.Username}"></td>
			<td th:text="${comments.usercomment}"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${comments.commentid})}" class="btn btn-outline-dark">Delete</a></td>
		</tr>
	</table>
	
	<form name ="commentform" class = "commentform" th:action="@{/postcomment}" method ="post">
	<textarea rows="3" cols="20" class = "textarea" placeholder="Leave a comment" name ="usercomment"></textarea>
	<br/><br/>
	<input type = submit class = "button" value ="Submit comment"/>
	</form>
	
</body>
</html>