<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>GamePro</title>
<link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
<link href="/css/styles.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee+Inline"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oxygen"
	rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="buttondiv">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="abutton"/>
		</form>
	</div>
	<div class = "topnavdiv">
	<h1 class ="gameh1">Game</h1>

			<ul class="topnav">
				<li><a href="/">Front Page</a></li>
	  			<li><a href="/login">Log In</a></li>
				<li><a href="/game">The Game</a></li>
				<li><a href="/leaderboard">Leaderboard</a></li>
				<li><a href="/comments">Comments</a></li>
		</ul>
	</div>
	

	<div class=centerTheCanvas>
		<canvas id="gameCanvas" width="560" height="390" class="gameCanvas"></canvas>
	
		<div class = checkDifficulty>
		<form id = "difficultyform">
		<legend>Choose Difficulty</legend>
		<input type = "radio" id= "easyCheck" value ="Easy" name="difcheck"class = "radiocheck" checked/><label for ="easyCheck">Easy</label>
		
		<input type = "radio" id= "mediumCheck" value ="Hard" name ="difcheck" class = "radiocheck"/><label>Medium</label>
		
		<input type = "radio" id= "hardCheck" value ="Hard" name ="difcheck" class = "radiocheck"/><label>Hard</label>
		<form>
			<input type="button" value="Start Game" onclick="main()" class="startbutton" />
		</form>
		</form></br>

		</div>
	</div>
	<script src="{./js/src/buttonscript.js}"th:src="@{/js/src/buttonscript.js}">
    </script>
    <div class ="scoreBox">
    	<div class="score">Score
		<div id="playerScore" class="score">0</div>
		</div>
		</div>
    <form th:action="@{/submitscore}" id ="scoreForm" name ="scoreForm" method = "post" th:object = "${score}">
    <input type = "hidden" name = "userN" id = "username"/>
    <input type ="hidden" name ="runscore" id ="runscore" value=""/>
    </form>
    

</body>
</html>