<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>GamePro</title>
<link href="/css/styles.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee+Inline"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oxygen"
	rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="buttondiv">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="abutton"/>
		</form>
	</div>
	<h1>Game</h1>
			<ul class="topnav">
				<li><a href="/">Front Page</a></li>
	  			<li><a href="/login">Log In</a></li>
				<li><a href="/game">The Game</a></li>
				<li><a href="/leaderboard">Leaderboard</a></li>
				<li><a href="/comments">Comments</a></li>
		</ul>
	<div class="score">Score</div>
	<div id="playerScore" class="score">0</div>
	<div class=centerTheCanvas>
		<canvas id="gameCanvas" width="470" height="400" class="gameCanvas"></canvas>
		<form>
			<input type="button" value="Result" onclick="main()" class="button" />
		</form>

	</div>
	<script src="{./js/src/buttonscript.js}"th:src="@{/js/src/buttonscript.js}">
    </script>

</body>
</html>