<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>GamePro</title>
<link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
<link href="/css/styles.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee+Inline"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oxygen"
	rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class = "buttondiv">
		<a href = "/sign" class = "abutton">Sign Up</a>
		</div>
		
	
	<div class ="welcomeTopnav">
	<h1 th:text="#{greeting}" class = "welcomeh1"></h1>
		<ul class="topnav">
				<li><a href="/"th:text="#{front.page}"></a></li>
	  			<li><a href="/login"th:text="#{log.in}"></a></li>
				<li><a href="/game"th:text="#{the.game}"></a></li>
				<li><a href="/leaderboard" th:text="#{leaderboard}"></a></li>
				<li><a href="/comments" th:text="#{comments}"></a></li>
		</ul>
		</div>
		<h2 th:text="#{greeting}"></h2>
		<span th:text="#{lang.change}"></span>:
	<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="fr" th:text="#{lang.fr}"></option>
    <option value="de" th:text="#{lang.de}"></option>
</select>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('?lang=' + selectedOption);
        }
    });
});
</script>
</body>
</html>