<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>GamePro</title>
<link rel="icon" type="image/png" sizes="16x16"
	href="./images/favicon-16x16.png">
<link href="/css/styles.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee+Inline"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oxygen"
	rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class = "userbuttondiv">
		<div>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="abutton" id = "logoutbutton"/>
			</form>
		</div>
		<div class="buttondiv">
			<a href="/sign" class="abutton">Sign Up</a>
		</div>
		
	<h1 class =  "gameh1">Log In</h1></br>
	</div>
	<ul class="topnav">
		<li><a href="/">Front Page</a></li>
		<li><a href="/login">Log In</a></li>
		<li><a href="/game">The Game</a></li>
		<li><a href="/leaderboard">Leaderboard</a></li>
		<li><a href="/comments">Comments</a></li>
	</ul>
	<div th:if="${param.logout}" class="error">You have been logged
		out.</div>
	<div class="loginform">
		<form th:action="@{/login}" method="post">
			<div th:if="${param.error}" class="errortext">Invalid username
				or password.</div>
			<p>
				<label><input type="text" class="inputfield"
					placeholder="Username" name="username" /></label>
			</p>
			<p>
				<label><input type="password" class="inputfield"
				placeholder="Password" name="password" id ="passwordfield"/>
				</label>
			</p>
			<input type="submit" value="Log In" class="button">
		</form>
		<input type = "button" class= "button" value = "Password Visibility" onclick = "passwordVisibility()">
		<script src="{./js/src/visibility.js}"th:src="@{/js/src/visibility.js}">
	    </script>
	</div>
</body>
</html>